<h1> new project </h2>
<form>
	<label for="name">project name</label>
	<input id="name" name="name"</input>

	<input id="submit" type="submit" value="create project" />
</form>

<%= link_to "back", projects_path %>
